/* General Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
header h1 {
  color: #333;
  text-align: center;
  padding: 20px;
}

/* Joke Container */
.joke-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
}

@media (max-width: 426px) {
  .joke-container {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
}

/* Cards */
.joke-card {
  background-color: #e4f1f2;
  height: 250px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.punchline {
  font-weight: 700;
  font-size: 0.8rem;
}

/* Footer */

footer {
  width: 100%;
  background: #333;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  align-self: flex-end;
  text-align: center;
}

@media (min-width: 1332px) {
  footer {
    position: absolute;
    bottom: 0;
  }
}

footer a,
footer a:visited {
  color: #e4f1f2;
}
